.results,
.resultsList {
	display: flex;
	flex-direction: column;
	gap: 0.3rem;
}
.main {
	display: flex;
	width: 100vw;
	justify-content: center;
}
.sidebar > * {
	width: 50vw;
	right: 0px;
}
.results {
	align-items: center;
	width: 50vw;
	box-sizing: border-box;
}
.resultsList {
	list-style-type: none;
	width: calc(100%);
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}
