@import url('./assets/styes/base.css');
html,
body,
#root {
	width: 100%;
}
.dark {
	background: var(--base-background-dark);
}
.light {
	background: var(--base-background-light);
}

.light button:hover {
	background: #00000020;
}
